.content-editable-input {
  animation-duration: 10ms;
  animation-name: mui-auto-fill-cancel;
  background: none;
  font-size: 1rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  letter-spacing: 0.00938em;
  color: #212b36;
  border-radius: 8px;
  position: relative;
  min-height: 100px;
}

.btn-auth-wrapper {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#input-comment {
  min-height: 50px;
}

[contenteditable] {
  outline: 0px solid transparent;
}

[data-placeholder]:empty:before {
  color: #6d6d6d;
  content: attr(data-placeholder);
}
